<settings>
    <profiles>
        <profile>
            <id>homelab</id>
            <properties>
                <altSnapshotDeploymentRepository>nexus-snapshot::${env.SNAPSHOT_DEPLOYMENT_REPOSITORY_URL}</altSnapshotDeploymentRepository>
                <altReleaseDeploymentRepository>nexus-release::${env.RELEASE_DEPLOYMENT_REPOSITORY_URL}</altReleaseDeploymentRepository>
            </properties>
            <repositories>
                <repository>
                    <id>nexus-central</id>
                    <name>Home Lab Nexus Maven Central</name>
                    <releases>
                        <enabled>true</enabled>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <url>${env.NEXUS_CENTRAL_REPOSITORY_URL}</url>
                    <layout>default</layout>
                </repository>
                <repository>
                    <id>nexus-snapshot</id>
                    <name>Home Lab Nexus Snapshot</name>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                    <url>${env.SNAPSHOT_DEPLOYMENT_REPOSITORY_URL}</url>
                    <layout>default</layout>
                </repository>
                <repository>
                    <id>nexus-release</id>
                    <name>Home Lab Nexus Release</name>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <url>${env.RELEASE_DEPLOYMENT_REPOSITORY_URL}</url>
                    <layout>default</layout>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <servers>
        <server>
            <id>nexus-snapshot</id>
            <username>${env.NEXUS_USERNAME}</username>
            <password>${env.NEXUS_PASSWORD}</password>
        </server>
        <server>
            <id>nexus-release</id>
            <username>${env.NEXUS_USERNAME}</username>
            <password>${env.NEXUS_PASSWORD}</password>
        </server>
    </servers>
</settings>