<settings>
    <profiles>
        <profile>
            <id>publish</id>
            <properties>
                <altSnapshotDeploymentRepository>nexus::${env.SNAPSHOT_DEPLOYMENT_REPOSITORY_URL}</altSnapshotDeploymentRepository>
                <altReleaseDeploymentRepository>nexus::${env.RELEASE_DEPLOYMENT_REPOSITORY_URL}</altReleaseDeploymentRepository>
            </properties>
        </profile>
    </profiles>
    <servers>
        <server>
            <id>nexus</id>
            <username>${env.NEXUS_USERNAME}</username>
            <password>${env.NEXUS_PASSWORD}</password>
        </server>
    </servers>
</settings>